.module-usage-hidden {
  display: none;
}

div#edit-module-usage-filter {
  display: flex!important;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid;
  padding: 10px 20px;
}

div#edit-module-usage-filter div.js-form-item {
  margin: 0 18px;
}

div.module-documentation {
  margin-bottom: 6px;
  clear: both;
}

.field-label {
  font-size: larger;
  padding: 4px 12px;
}
div.module-row {
  margin-bottom: 10px;
}

.module-row .container {
  display: flex;
  justify-content: space-between;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module-row .container h4 {
  margin-right: auto;
}
.module-row .container .column {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 2px;
}

.field-description-container span.link {
  color: blue;
}

.module-row .field-description,
.field--name-description {
  padding: 4px;
  margin-bottom: 10px;
  min-height: 16px;
}

.field--name-description sub {
  background-color: lightgray;
}

.data-table {
  border: 1px solid grey;
  padding: 4px;
  margin: 4px;
}

.field-description-container {
  position: relative;
}

.module-row .edit-description {
  position: absolute;
  top: 0;
  right: 0;
}

div.add-note,
div.add-url {
  float: right;
}

/* Optional: Add a backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

div.module-accordion-header {
  background-color: #e3e3e3;
  color: black;
}

.ui-accordion h3.ui-accordion-header,
.ui-accordion div.field-label,
.ui-accordion div.documentation-header {
  display: flex;
  align-items: center;
  border-radius: 0;
}


.tab-buttons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab-buttons button {
  background-color: inherit;
  float: left;
  border: none;
  margin: 4px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 8px;
}

.tab-buttons button.active {
  background-color: #ccc;
}
.edit-url,
.edit-note,
.delete-url,
.delete-note {
  padding-right: 5px;
  float: right;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content.tab-activity {
  display: block;
}
.tab-content.tab-url .title-container {
  width: 100%;
  float: right;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgray;
}

.tab-content.tab-url .title-container .urls-help {
  float: left;
}

.active, .hasItems {
  font-weight: bold;
}

.show-icon {
  background-image: url('../icons/magnifier.svg');
  background-repeat: no-repeat;
  height: 15px;
  width: auto;
  padding-bottom: 10px;
}

.edit-icon {
  background-image: url('../icons/pencil.svg');
  background-repeat: no-repeat;
  height: 15px;
  width: auto;
  min-width: 25px;
}

.delete-icon {
  background-image: url('../icons/trash.svg');
  background-repeat: no-repeat;
  height: 15px;
  width: auto;
  min-width: 25px;
}

.add-icon {
  background-image: url('../icons/plus.svg');
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 12px;
}

.dismiss-icon {
  background-image: url('../icons/ex.svg');
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

div.note-title {
  font-weight: bold;
  font-size: larger;
}
