.module-usage-report h2 {
  text-align: center;
}

.module-usage-report .module-info h3 {
  font-weight: bold;
}

.notes-help, .urls-help, .date-entered, .last-modified {
  display: none;
}

.notes-container, .url-container {
  margin-left: 20px;
}

.note-title {
  font-weight: bold;
}

.form-item--start-date, .form-item--end-date {
  display: inline-block; /* Display elements inline */
  margin-right: 10px; /* Add some spacing between the elements */
}
