<div id="field-description-{{ machine_name }}">
    <div class="field field--name-description field--label-above" data-module="{{ machine_name }}">
      {% if description is empty %}
      <div class="help">How/Why/Where this module is used on this site, or any other info to be provided at-a-glance.
      </div>
      {% else %}
        <div class="description">{{ description }}</div>
        {% if description_last_updated %}
        <sub>Last updated: {{ description_last_updated | date('Y-m-d') }}</sub>
        {% endif %}
      {% endif %}
      <span class="button btn" data-module="{{ machine_name }}">Edit Description</span>
    </div>
</div>
