{% set machine_name = item.machine_name %}
{% set suppress_buttons = true %}
<h3>{{ item.name }}</h3>
<div class="module-view-body">
  <div class="field-description-container">
    <div id="field-description-{{ machine_name }}">
      <div class="field field--name-description field--label-above" data-module="{{ machine_name }}">
        <div class="field__label">Description</div>
        <div class="description">{{ description }}</div>
      </div>

    </div>
  </div>

  <div class="data-table">
    <h4>Activity</h4>
    {% include( "@module_usage/module-usage--activity.html.twig") %}
  </div>


    <div class="data-table">
      <h4>URLs</h4>
      {% include('@module_usage/module-usage--urls.html.twig') %}
    </div>


    <div class="data-table">
      <h4>Notes</h4>
      {% include('@module_usage/module-usage--notes.html.twig') %}
    </div>

  </div>
</div>
