{% block tab_content_activity %}
  <div class="activty-table">
  <table id="activity-table-{{ machine_name }}">
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Version</th>
      <th>Status</th>
    </tr>
    {% for item in activity %}
      <tr>
        <td>{{ item.activity_date | date('Y-m-d H:i:s') }}</td>
        <td>{{ item.event_description }}</td>
        <td>{{ item.current_version }}</td>
        <td>{% if item.status %}Enabled{% else %}Disabled{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
{% endblock %}
