{% set urlClass = '' %}
{% set noteClass = '' %}
{% set machine_name = item.machine_name %}
{% set noteCount = 0 %}
  {% if notes %}
    {% set noteCount = notes|length %}
    {% set noteClass = ' hasItems' %}
  {% endif %}
{% set urlCount = 0 %}
  {% if urls %}
    {% set urlCount = urls|length %}
    {% set urlClass = ' hasItems' %}
  {% endif %}
<div class="module-accordion-body">

  <div class="field-description-container" title="Click to edit">
    {% include('@module_usage/module-usage--description.html.twig') %}
  </div>
  <div class="view-doc">
    <a href="/admin/module_usage/view/{{ machine_name }}" target="_blank" title="View Module Documentation">
      <div class="show-icon"></div>
    </a>
  </div>
  <div id="tabs-app-{{ machine_name }}" class="tab-set">
    <div class="tab-buttons">
      <div>
        <button class="activity-button active" data-tab="tab-activity">Activity</button>
      </div>
      <div>
        <button id="url-button-{{ machine_name }}" class="url-button{{ urlClass }}" data-tab="tab-url">URLs ({{ urlCount }})</button>
      </div>
      <div>
        <button id="notes-button-{{ machine_name }}" class="notes-button{{ noteClass }}" data-tab="tab-notes">Notes ({{ noteCount }})</button>
      </div>
    </div>
    <div class="tab-content tab-activity">
{% include( "@module_usage/module-usage--activity.html.twig") %}
    </div>
    <div class="tab-content tab-url">
{% include('@module_usage/module-usage--urls.html.twig') %}
    </div>
    <div class="tab-content tab-notes">
{% include('@module_usage/module-usage--notes.html.twig') %}
    </div>
  </div>
</div>
