<div class="module-usage-report">
  <h2>Recent Module Updates Report</h2>

  <table>
    <tr>
      <th>Date</th>
      <th>Module Name</th>
      <th>Version #</th>
      <th>Status</th>
    </tr>

  {% for rec in module_data %}
    <tr>
      <td>{{ rec.activity_date | date('Y-m-d H:i:s') }}</td>
      <td>{{ rec.name }}</td>
      <td>{{ rec.event_description | replace({'Version changed from ': ''}) }} => {{ rec.current_version }}</td>
      <td>{% if rec.status == 1 %}Enabled{% else %}Disabled{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
</div>
