{% block tab_content_urls %}
  <div class="url-container" id="url-container-{{ machine_name }}">
  <div class="title-container">
    <div class="urls-help">
      URLs where this module is used or should be tested.
    </div>
    {% if not suppress_buttons %}
    <div class="add-url" data-module="{{ machine_name }}">
      <div class="add-icon"></div>
    </div>
    {% endif %}
  </div>
  <div>
      <table id="url-table-{{ machine_name }}" class="module-usage-table">
        <tr>
          <th class="date-entered">Date Entered</th>
          <th class="last-modified">Last Modified</th>
          <th>URL</th>
          <th>Notes</th>
          {% if not suppress_buttons %}
          <th>&nbsp;</th>
          {% endif %}
        </tr>
        {% for item in urls %}
        <tr>
          <td class="date-entered">{{ item.created | date('Y-m-d') }}</td>
          <td class="last-modified">{{ item.changed | date('Y-m-d') }}</td>
          <td>{{ item.url }}</td>
          <td>{{ item.url_description }}</td>
          {% if not suppress_buttons %}
          <td class="icons">
            <div class="delete-url" data-pid="{{ item.id }}" data-module="{{ machine_name }}">
              <div class="delete-icon"></div>
            </div>
            <div class="edit-url" data-urlid="{{ item.id }}" data-module="{{ machine_name }}">
              <div class="edit-icon"></div>
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
  </div>
  </div>
{% endblock %}
